*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    align-items: center;
    font-size: 15px;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}
col{

}