*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    align-items: center;
    font-size: 15px;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    margin: auto;
    width: 45%;
    height: 100vh;
    padding: 10px;
    border-radius: 20px;
}
.col1, .col2, .col3 {
border-radius: 5px;
padding-left: 20px;
padding-right: 20px;
}
main div{
  padding: 20px;
}
input{
  border-radius: 20px;
  width: 120px;
  height: 40px;
  margin-top: 60px;
  cursor: pointer;
  border-color: hsla(0, 0%, 100%, 0.75);
}
  input[type=submit] :hover {
  color: ;
}
  
.col1 input:hover{
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
}
.col2 input:hover{
  background-color: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
}
.col3 input:hover{
  background-color: hsl(179, 100%, 13%);
  color: white;
}
h1{
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 20px;
}
